{% extends "FitnessPage/base.html" %}
{% load static %}




{% block body %}


    <div class="about-section">
        <h1>About Us</h1>
    </div>
<br>

    <div class="container">
   <br>
        <h2>Mariah Lopez</h2>
   <br>
        <div class="row">
        <div class=" col-12 col-md-4">

            <img = src="{% static "images/mariah.jpg" %}" alt="   Mariah Lopez" style="width:300px", style="height:300px">

        </div>
   <div class=" col-12 col-md-8">
       <br>
        <p class="title">Web Designer</p>
        <p>Hello All , I am currently a senior at CCSU.My major is Computer Science with a Minor in MIS.
           Some of passions are animals , traveling,and most importantly Fitness.
           My fitness journey started this year 2020 because of covid.
       </p>
       <p>Mariah.Lopez@my.ccsu.edu</p>
       <p><button class="button">Contact</button></p>
   </div>
    <div class="container">
    <br>
    <h2>Sebastian Mesa-Zapata</h2>
    <br>
    <div class="row">
     <div class=" col-12 col-md-4">
     <img  src="{% static "images/Sebastian.jpg" %}" alt=" sebastian" style="width:300px", style="height:300px">
     </div>
     <div class=" col-12 col-md-8">
       <br>
        <p class="title">Web Designer</p>
       <p>Hey! my name is Sebastian Mesa-Zapata,
           a student at CCSU majoring in Computer Science.
           Mariah and I created this website in hopes to guide
           you towards your fitness goals.
           Staying in shape is an important aspect of my life
           and it is our hope that it is important to you too!   I take part in Ultimate frisbee and Basketball games here and there, whether it be organized or with friends, it is important for me to stay in shape so I can perform at my physical best.  Please use this website to help construct your gym workout, keep track of your fitness goals, or maintain a balanced diet.
       </p>
       <p>sebastian.mesa-zapata@my.ccsu.edu</p>
       <p><button class="button">Contact</button></p>
   </div>

 </div>
</div>
 </div>
</div>



{% endblock %}