{% extends "FitnessPage/base.html" %}
{% load static %}



{% block body %}



<div class="Covid-section">
 <h1>FIVE TIPS DURING COVID </h1>
</div>

<div class="One-Section">
   <h1>  <span style="font-size: 450%;
   color: #FF5722;" >&#9312</span> Wash Hands</h1>
   <h5> Often with soap and water for at least 20 seconds especially after you have been in a public place, or after
       blowing your nose, coughing, or sneezing.</h5>
</div>
<div class="Two-Section">
   <h1>  <span style="font-size: 450%;
   color: #FF5722;" >&#9313</span> Avoid close contact</h1>
   <h5> If possible, maintain 6 feet between people.Remember that some people without symptoms may be able to spread virus.</h5>
</div>
<div class="Three-Section">
   <h1>  <span style="font-size: 450%;
   color: #FF5722;" >&#9314</span> Where A Mask</h1>
   <h5> Everyone should wear a mask in public settings and when around people who don’t live in your household, especially when other
       social distancing measures are difficult to maintain.</h5>
</div>
<div class="Four-Section">
   <h1>  <span style="font-size: 450%;
   color: #FF5722;" >&#9315</span> Eat Healthy</h1>
   <h5> Now more than ever , it is important to eat healthy so that you are able to get all the vitamins
       neccesary to combat covid.Do your best to eat nourishing meals, like those rich in fruits and vegetables, lean protein, and whole grains. Those foods can help
         keep your body and mind healthy during stressful times.Cut down on foods that can ramp up anxiety, such as sugar,
         caffeine, and alcohol.</h5>
   <h4>3 immune boosters </h4>
   <ul>
     <li>Vitamin A (Beta Carotene)</li>
       <p>This vitamin assists with the health of your intestines and respiratory system. Vitamin A-rich foods include carrots,
           sweet potato, spinach, broccoli and red bell peppers. </p>
     <li>Vitamin C</li>
       <p>
         Vitamin C helps stimulate the formation of antibodies. Citrus fruits, strawberries, red bell pepper and kiwi are all rich in vitamin C.
       </p>
        <li>Zinc</li>
       <p>There are many zinc-dependent enzymes in our body and deficiency has been linked with immune dysfunction. Zinc-rich foods include beans, seeds, nuts, meat, poultry and seafood.</p>
       <button class="button">For Recipes Click Here</button>
   </ul>
</div>
<div class="Five-Section">
   <h1>  <span style="font-size: 450%;
   color: #FF5722;" >&#9316</span> Work Out </h1>
   <h5> Although it might be tempting to skip your workout during these challenging times, public health officials say that exercise — while undoubtedly crucial under normal circumstances — is essential to your physical health and mental well-being during the COVID-19 pandemic. Here’s why you should stay active
       and how you can exercise safely during the pandemic.</h5>
   <button class="button">For Exercises Click Here</button>

</div>


{% endblock %}
