{% extends "FitnessPage/base.html" %}
{% load static %}

{% block body %}

    <br>
    <br>


    <h1 style="text-align: center" >Our Favorite Place to Workout! </h1>

    <br>

<div  class="card text-dark bg-light mb-3 mx-auto" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'images/Edge.jpg' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">The Edge Fitness Clubs</h5>
        <p class="card-text">The Edge Fitness Clubs are relatively new gyms that add versatility and value to make them major competitors to the existing clubs</p>
          <p class="card-text">They offer the following services:</p>

         <ul>
              <li> Group Exercise Classes </li>
              <li> Tanning and Massage </li>
              <li> Edge Cinema (view your favorite movie while you get your cardio in on the treadmill)</li>
              <li> Shake bar </li>
              <li> Sauna </li>

          </ul>

          <a class="btn btn-secondary btn-lg" href="https://www.theedgefitnessclubs.com/rates-nov2020?hsCtaTracking=949b2203-a603-4dd9-85d7-2e6f37960f8a%7C6e2663ed-5f61-4c0e-973b-e53ef153cf23&utm_source=ror&utm_medium=ppc&utm_content=flashsale&utm_campaign=ror&utm_term=the%20edge%20fitness&utm_campaign=CT_West+Hartford_Brand_Exact&utm_source=adwords&utm_medium=ppc&hsa_tgt=aud-415826169779:kwd-347493544057&hsa_grp=79081208305&hsa_src=g&hsa_net=adwords&hsa_mt=e&hsa_ver=3&hsa_ad=478883253336&hsa_acc=7600699582&hsa_kw=the%20edge%20fitness&hsa_cam=2063199782&gclid=CjwKCAiAiML-BRAAEiwAuWVggkTVMsuwgC-DzyxxD-mxwMY5NQ_eKMQFtBx4_SA1WIDL0nShozs8DBoCSfEQAvD_BwE" role="button">The Edge</a>

      </div>
    </div>
  </div>
</div>

    <div  class="card text-white bg-dark mb-3 mx-auto" style="max-width: 1080px;">
        <div class="row no-gutters">
         <div class="col-md-4">
            <img src="{% static 'images/LA_Fitness_building.jpg' %}" class="card-img" alt="...">
        </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">LA Fitness</h5>
        <p class="card-text">Already a well known gym and with locations all over the country, LA Fitness is an industry favorite and although it ranks among one of the most pricy, the gym's amenities make it well worth the extra bucks.</p>


        <p class="card-text">They offer the following services:</p>

         <ul>
              <li> Group Exercise Classes </li>
              <li> Pool and Hot Tubs </li>
              <li> Basketball and racketball courts in select locations)</li>
              <li> Shake bar </li>
              <li> Punching bags in select locations </li>
              <li> Sauna </li>

          </ul>

          <a class="btn btn-light btn-lg" href="https://www.lafitness.com/Pages/Default.aspx" role="button">LA Fitness</a>

        </div>
    </div>
  </div>
</div>


    <div  class="card text-white bg-info mb-3 mx-auto" style="max-width: 1080px;">
        <div class="row no-gutters">
        <div class="col-md-4">
      <img src="{% static 'images/big_sky.jpg' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Big Sky</h5>
        <p class="card-text">Big Sky is known as LA Fitness's little brother, although they do not provide all of LA Fitness's amenities, Big Sky offers a lower price tag.</p>

          <p class="card-text">They offer the following services:</p>

         <ul>
              <li> Group Exercise Classes </li>
              <li> Pool in select locations </li>
              <li> Shake bar </li>
              <li> Personal Trainer </li>
          </ul>

          <a class="btn btn-secondary btn-lg" href="https://bigskyfitness.com/" role="button">Big Sky</a>


      </div>
    </div>
  </div>
</div>


    <div  class="card text-dark bg-light mb-3 mx-auto" style="max-width: 1080px;">
        <div class="row no-gutters">
        <div class="col-md-4">
      <img src="{% static 'images/generic-house.jpg' %}" class="card-img" alt="...">
    </div>
        <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">Home Gym</h5>
          <p class="card-text">How can we forget about the most widely available place to exercise, you own Home!? </p>

          <p class="card-text">A home gym can eliminate the following drawbacks of a gym membership: </p>

          <ul>
              <li> Pricey contracts </li>
              <li> Crowded squat racks or bench presses ...etc </li>
              <li> Lack of privacy </li>
              <li> Workout whenever you want without the need to drive or abide to gym operation hours </li>
          </ul>


      </div>
    </div>
  </div>
</div>







{% endblock %}