{% extends "FitnessPage/base.html" %}
{% load static %}



{% block body %}




 <div class="Recipe-section">
     <br>
 <h1>RECIPES</h1>
</div>


 <div class="card-deck">
 <div class="card card text-white bg-dark mb-3">
   <img  src="{% static 'images/chicken.jpg' %}" class="card-img-top" alt="..." >
   <div class="card-body">
     <h5 class="card-title">Chicken with Roasted Vegetables</h5>
       <p class="card-text">Chicken and Vegetables! What can be better? Well...ice cream and chocolate but we don't talk about that....</p>
        <br>
       <a href='https://www.eatthismuch.com/recipe/nutrition/chicken-with-roasted-tomato-and-red-onions,966065/'><button class="button" >Click Here</button></a>
{#     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
   </div>
 </div>
 <div class="card card text-white bg-dark mb-3">
   <img  src="{% static 'images/spinach_image.jpg' %}" class="card-img-top" s >
   <div class="card-body">
     <h5 class="card-title">Ginger Green Juice</h5>
     <p class="card-text">This juice is as healthy as it gets.It is is High in Vitamin C .

     </p>
         <br>
       <br>
       <a href='https://www.eatthismuch.com/recipe/nutrition/ginger-green-juice,938740/'><button class="button"
       >Click Here</button></a>
{#     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
   </div>
 </div>
 <div class="card card text-white bg-dark mb-3">
   <img  src="{% static 'images/bok.jpg' %}" class="card-img-top" alt="..." >
   <div class="card-body">
     <h5 class="card-title">Ginger Garlic Noodle Soup with Bok Choy</h5>
     <p class="card-text">This meal is high in vitamin A.</p>
     <br>
       <br>
       <a href='https://www.eatthismuch.com/recipe/nutrition/ginger-garlic-noodle-soup-with-bok-choy,1497724/'><button class="button"
       >Click Here</button></a>
{#     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
   </div>
 </div>
 <div class="card card text-white bg-dark mb-3">
   <img  src="{% static 'images/tender.jpg' %}" class="card-img-top" alt="..." >
   <div class="card-body">
     <h5 class="card-title">Fabulous Beef Tenderloin</h5>
     <p class="card-text">This meal is high in Protein and Zinc.</p>
       <br>
       <a href='https://www.eatthismuch.com/recipe/nutrition/fabulous-beef-tenderloin,36689/'><button class="button" >Click Here</button></a>
{#     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
   </div>
</div>
 </div>









{% endblock %}