{% extends "FitnessPage/base.html" %}
{% load static %}


{% block body %}

{#   # style="background-image: {% static "images/Workout_image.jpg" %}"#}


<div class="jumbotron jumbotron-fluid" style="background-image: url({% static 'images/Workout_image.jpg' %})" >

  <div class="container">
    <h1 class="display-3 text-white">Workout Guide</h1>
      <br>
      <br>
      <br>

    <h3 class="text-white">Use this site as a guide to help plan your Workout!</h3>
      <br>
      <p class="lead text-white" >We will discuss the 6 main muscle groups of the body</p>
  </div>
</div>




<div class="container">
<div class="row justify-content-around">
    <div class="card" style="width: 18rem;">
  <img src="{% static "images/bicep-curl.jpg" %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Arms</h5>
    <p class="card-text">Strong arms can help us carry or lift heavy things such as a spare tire or your future kid!.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Bicep curls</li>
    <li class="list-group-item">Tricep Extensions</li>
    <li class="list-group-item">Shoulder Press</li>
  </ul>
</div>


    <div class="card" style="width: 18rem;">
  <img src="{% static "images/Exercises-One-Leg.jpg" %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Legs</h5>
    <p class="card-text">Needless to say, we use our legs to get us around where we need to go, they help us so we should help them!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Squats</li>
    <li class="list-group-item">Alternating Lunges</li>
    <li class="list-group-item">Deadlifts</li>
  </ul>
</div>


    <div class="card" style="width: 18rem;">
  <img src="{% static "images/Chest.jpg" %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chest</h5>
    <p class="card-text">Ever had a hard time bringing all of your groceries in at once? Having a strong chest will help with that :).</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Chest-Press</li>
    <li class="list-group-item">Chest-Flys</li>
    <li class="list-group-item">Push-Ups</li>
  </ul>
</div>
</div>
</div>

<br>
<br>


<div class="container">
<div class="row justify-content-around">
    <div class="card" style="width: 18rem;">
  <img src="{% static "images/Spine-Workouts-min.jpg" %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Back</h5>
    <p class="card-text">A strong back can prove beneficial for your overall posture not to mention your back muscles are the second biggest and strongest in the body</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Lat Pull-Downs</li>
    <li class="list-group-item">Lawnmowers</li>
    <li class="list-group-item">Lateral Rows</li>
  </ul>
</div>


    <div class="card" style="width: 18rem;">
  <img src="{% static "images/abs.jpg" %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Abs</h5>
    <p class="card-text">Developing your abs should not just be to impress someone you like but also to improve your posture and prevent lower back pain.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Bicycle Crunches</li>
    <li class="list-group-item">Plank</li>
    <li class="list-group-item">Leg-raises</li>
  </ul>
</div>


    <div class="card" style="width: 18rem;">
  <img src="{% static "images/jumprope.jpg" %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cardio</h5>
    <p class="card-text">Cardio is a form of Aerobic exercise and can help improve endurance and overall cardiovascular health</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Jump-Rope</li>
    <li class="list-group-item">Treadmill</li>
    <li class="list-group-item">Stairs</li>
  </ul>
</div>
</div>
</div>


{% endblock %}