{% extends 'FitnessPage/base.html' %}
{% load static %}
{% block body %}

    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="display-4 text-center">Find Gyms Near You!</h1>

            <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter a gym...for example LA Fitness" name="search_term">
                    <input type="text" class="form-control" placeholder="Enter a location...for example Hartford" name="location">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">SEARCH</button>
                    </div>
            </div>

            <div id="results"></div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/Yelp.js' %}"></script>
{% endblock %}